<div class="jitem">
    <div class="jitem-i">
        <input type="text" class="mark III">
    </div>
    <div class="jitem-i">
        <input type="text" class="mark">
        <input type="text" class="mark">
    </div>
    <div class="jitem-i">
        <input type="text" class="mark">
        <input type="text" class="mark">
    </div>
    <div class="jitem-i">
        <input type="text" class="mark">
        <input type="text" class="mark">
    </div>
    <div class="jitem-i">
        <input type="text" class="mark">
        <input type="text" class="mark">
    </div>
    <div class="jitem-i">
        <input type="text" class="mark">
        <input type="text" class="mark">
    </div>
    <div class="jitem-i">
        <input type="text" class="mark">
        <input type="text" class="mark">
    </div>
    <div class="jitem-i">
        <input type="text" class="mark">
        <input type="text" class="mark">
    </div>
    <div class="jitem-i">
        <input type="text" class="mark">
        <input type="text" class="mark">
    </div>
    <div class="jitem-i">
        <input type="text" class="mark III">
    </div>
</div>